body {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    overflow: hidden;
}



header {
    z-index: 1;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    height: 40px;

    position: fixed;
    left: 0;
    width: 100%;
}

header .navigation {
    top: 0;
}

header .navigation .navleft {
    transform: skew(-30deg);
    float: left;
    margin-left: -40px;
}

header .navigation .navright {
    transform: skew(30deg);
    float: right;
    margin-right: -20px;
}

header .navigation .tab {
    color: white;
    display: inline-block;
    width: 275px;
    height: 50px;

    margin-left: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;

}



header .navigation .tab h2 {
    padding-top: 10px;
    margin: 0;
    text-align: center;
    font-size: 1.3em;

}

header .navigation .navright .tab h2 {
    transform: skew(-30deg);
}

header .navigation .navleft .tab h2 {
    transform: skew(30deg);
}

header .navigation .tab.active {
    /* height: 100px; */
    /* background: red; */
    color: #E00000;
}

header .navigation .tab.active h2 {
    top: 60px;
}

header .navigation .tab#menu-tab:hover {
    background: white !important;
    color: black !important;
}

header .navigation .tab#preorder-tab:hover {
    background: white !important;
    color: black !important;
}

header .navigation .tab#about-tab:hover {
    background: white !important;
    color: black !important;
}

header .navigation .tab#contact-tab:hover {
    background: white !important;
    color: black !important;
}



.shrink {
  /* padding: 20px 0; */
  background-color: #1d1e22;
  box-shadow: 0px 2px 2px black;
}

.background {
    z-index: -2;
    background: url("../images/truck2.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-position: center;
    /* background: url("../images/truck2.jpg"); */
    height: 100%;
    width: 100%;
    position: fixed;

}

.imageoverlay {
    z-index: -1;
    /* background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)); */
    /* background: linear-gradient(to bottom left, rgba(256, 256, 256, 0.9), 25%, rgba(256, 256, 256, 0)); */
    background: linear-gradient(rgba(0, 0, 0, 0.8), 25%, rgba(0, 0, 0, 0));
    height: 100%;
    width: 100%;
    position: fixed;
}

.videoContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: -2;
}
.videoContainer .videooverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)); */
    background: linear-gradient(rgba(0, 0, 0, 0.8), 25%, rgba(0, 0, 0, 0));
}


.maintext {
    top: 5%;
    width: 100%;
    position: absolute;

}

.maintext span {
    text-align: center;
    font-size: 70pt;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.module {
    position: absolute;
    width: 100%;
    top: 90%;
    left: 0;
    height: 1000px;
    background-color: white;
}

/* ADDED NEW */



/* .index-banner-background-container {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
}

.index-banner-background-container-inner {
    display: table-cell;

} */

.index-banner-background {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 7), rgba(0, 0, 0, 0));
    /* transform: skew(45deg); */
    height: 100%;
    width: 650px;

}

/* .index-banner-background2 {
    position: absolute;
    top:50%;
    left:50%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 50%;

} */


.index-banner-outer {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
}

.index-banner-outer .index-banner-inner {
    display: table-cell;
    vertical-align: middle;
}

.index-banner-outer .index-banner-inner .index-banner-content {
    margin: 0 auto;
    width: 100%;
    height: 10%;
    text-align: center;
    color: white;
    font-size: 2.5em;
}

@media(max-width: 1200px) {
    .index-banner-outer .index-banner-inner .index-banner-content {
        font-size: 2em;
    }
}

@media(max-width: 600px) {
    .index-banner-outer .index-banner-inner .index-banner-content {
        font-size: 1em;
    }
}

#logo {
    /* position: absolute; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}






/* NAVIGATION FOR SMALLER DISPLAYS */
.nav-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    visibility: hidden;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

@media(max-width: 1200px) {
    .nav-icon {
        visibility: visible;
    }
}

.nav-icon-div {
    width: 140px;
    height: 20px;
    background-color: black;
    margin: 24px 0;
    transition: 0.4s;
}

.clicked #bar1 {
    background-color: #E00000;
    -webkit-transform: rotate(-45deg) translate(-36px, 24px);
    transform: rotate(-45deg) translate(-36px, 24px);
}

.clicked #bar2 {
    opacity: 0;
}

.clicked #bar3 {
    -webkit-transform: rotate(45deg) translate(-32px, -32px);
    transform: rotate(45deg) translate(-32px, -32px);
    background-color: #E00000;
}

.clicked.nav-icon {
    background: none;
}



.nav-strip {
    z-index: 9;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    width: 50%;
    height: 100%;
    padding-top: 200px;

    transform: translate(-100%);

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;

}

.nav-strip a {
    text-decoration: none;
}

.nav-strip li {
    color: white;
    list-style: none;
    margin-bottom: 30px;
    font-size: 2.5em;
}

.nav-strip li:hover {
    color: #E00000;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}



.slide.nav-strip {
    visibility: visible;

    transform: none;

}


@media (max-width: 1200px) {
    header {
        visibility: hidden;
    }
}